---
import NavItem from "../components/NavItem.astro";
import Page from "../components/Page.astro";
import Page from "../components/Page.astro";
import Carousel from "../components/Carousel.astro";
import Particles from "../components/Particles.jsx"; 
---
<div class="page">
<Page title="Mihir's Portfolio">
<h1>Mihir's Portfolio</h1>
<div class="h1">
  
  <h2>Project Menu</h2>
  <nav>
    <ul>
      <li>
        <a href="./projects/binary-search/">Binary Search Project</a>
      </li>
      <li>
        <a href="./">APCSP Portfolio</a>
      </li>
      <!-- Add more projects here in the future -->
    </ul>
  </nav>

  <h2>About Me</h2>
  <p>Hey, my name is Mihir Patel. I go to school at Innovation 
  Academy Charter School. I like to play soccer and volleyball. 
  I also like to go hiking and hang out with my friends and family.</p>

  <h3 data-aos="fade-in" data-aos-duration="1500" data-aos-delay="300">
    "Welcome to My Portfolio!"
  </h3>

<html>
<head>
  <title>Your Site</title>
</head>
<body>
<!--  <Particles client:only="react"/> -->
  <main>
    <!-- Your main content goes here -->
  </main>
</body>
</html>

  <Carousel>
    <article>
      <h2>Binary Search Project</h2>
      <figure>
        <img
          src="/images/binary-search.png"
          width="100"
          style="display: block; margin: auto;"
        />
        <figcaption>
          <NavItem
            link="/projects/binary-search/"
            blurb="Learn about the binary search algorithm and its implementation."
          />
        </figcaption>
      </figure>
    </article>
    
    <article>
      <h2>APCSP Portfolio</h2>
      <figure>
        <img
          src="/images/portfolio.png"
          width="100"
          style="display: block; margin: auto;"
        />
        <figcaption>
          <NavItem
            link=""
            blurb="A showcase of all my AP Computer Science Principles projects."
          />
        </figcaption>
      </figure>
    </article>

    <article>
      <h2>Turtle Drawing Project</h2>
      <figure>
        <img
          src="/images/portfolio.png"
          width="100"
          style="display: block; margin: auto;"
        />
        <figcaption>
          <NavItem
            link="projects/Turtle drawing"
            blurb="Turtle drawing project."
          />
        </figcaption>
      </figure>
    </article>


    <article>
     <article>
      <h2>Mash Game</h2>
      <figure>
        <img
          src="/images/portfolio.png"
          width="100"
          style="display: block; margin: auto;"
        />
        <figcaption>
          <NavItem
            link="https://iacs-cs.github.io/mash-game-dev-mihir/"
            blurb="A country anagrams "
          />
        </figcaption>
      </figure>
       </article>
    </article>

<article>
      <article>
      <h2>Filter</h2>
      <figure>
        <img
          src="/images/portfolio.png"
          width="100"
          style="display: block; margin: auto;"
        />
        <figcaption>
          <NavItem
            link="https://iacs-cs.github.io/image-filter-project-devandmihir/"
            blurb="Sunset and other Filters"
          />
        </figcaption>
      </figure>
       </article>
    </article>

<article>
      <article>
      <h2>Filter</h2>
      <figure>
        <img
          src="/images/portfolio.png"
          width="100"
          style="display: block; margin: auto;"
        />
        <figcaption>
          <NavItem
            link="https://iacs-cs.github.io/systems-project-disease-modeling-cam/"
            blurb="Sunset and other Filters"
          />
        </figcaption>
      </figure>
       </article>
    </article>


       <article>
      <h2>example etc</h2>
      <figure>
        <img
          src="/images/binary-search.png"
          width="100"
          style="display: block; margin: auto;"
        />
        <figcaption>
          <NavItem
            link="/projects/binary-search/"
            blurb="Learn about the binary search algorithm and its implementation."
          />
        </figcaption>
      </figure>
    </article>

       <article>
      <h2>example etct</h2>
      <figure>
        <img
          src=""
          width="100"
          style="display: block; margin: auto;"
        />
        <figcaption>
          <NavItem
            link="/projects/binary-search/"
            blurb="Learn about the binary search algorithm and its implementation."
          />
        </figcaption>
      </figure>
    </article>

     <!-- Acknowledgements Section -->
   <section>
  <h2>Acknowledgements</h2>
  <ul>
    <li><strong><a href="https://nickpiscitelli.github.io/Glider.js/" target="_blank">https://nickpiscitelli.github.io/Glider.js/</a></strong></li>
    <li><strong><a href="https://picocss.com/" target="_blank">https://https://picocss.com/</a></strong></li>
    <li><strong><a href="https://astro.build/" target="_blank">https://https://astro.build/</a></strong></li>

    <!-- Add more acknowledgements as needed with their respective links -->
  </ul>
</section>
    </ul>
</nav>
   </article>
  </Carousel>

  

  <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
    <a property="dct:title" rel="cc:attributionURL" href="https://github.com/IACS-CS/apcsp-portfolio-Mihirp6">APCSP Portfolio Project</a> by 
    <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://github.com/Mihirp6">Mihir Patel</a> is marked with 
    <a href="https://creativecommons.org/publicdomain/zero/1.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">
      CC0 1.0 Universal
      <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="">
      <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/zero.svg?ref=chooser-v1" alt="">
    </a>
  </p>
</Page>
</div>