---
import Project from "../../components/Project.astro"
---

<Project
  title="Portfolio"
  assignment="Create a program that allows my projects to be displayed on a portfolio"
>
  <p>My project was super fun, I worked hard on it! Play it to see what chocolate bar you are!</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe 
  
    src="https://musical-space-carnival-v6qv4gj7j4jgfpw5-4321.app.github.dev/" 
    title="APCSP Portfolio"
    width="100%"
    height="800px"
  ></iframe>

</Project>
