---
import Project from "../../components/Project.astro"
---

<Project
  title=" Sunset Filter"
  assignment="make a filter"
>
  <p>M!</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe 
  
    src="https://iacs-cs.github.io/image-filter-project-devandmihir/" 
    title="Personality Quiz"
    width="100%"
    height="800px"
  ></iframe>

</Project>
