---
import Project from "../../components/Project.astro"
---

<Project
  title="Turtle Drawing Project"
  assignment="Make a drawing with a turtle"
>
  <p>My project was super fun, I worked hard on it! Play it to see what chocolate bar you are!</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe 
  
    src=

  ></iframe><p class="codepen" data-height="300" data-default-tab="js,result" data-slug-hash="pvzgwaN" data-pen-title="Snowman ?" data-user="thhinbnz-the-selector" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/thhinbnz-the-selector/pen/pvzgwaN">
  Snowman ?</a> by Mihir Patel (<a href="https://codepen.io/thhinbnz-the-selector">@thhinbnz-the-selector</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://public.codepenassets.com/embed/index.js"></script>

</Project>
